<p>
	{{#each number in pages}}
		<a href="/#" {{action 'numberOfPage' number}}>{{number}}</a>
	{{/each}}
</p>
<ul>
	<p>{{#link-to 'blog.addPost'}}Create post{{/link-to}}</p>
		{{#each post in model itemController="blogPost"}}
		<li>
			{{#link-to 'blog.post' post}}{{post.title}}{{/link-to}}
			{{#link-to 'blog.editPost' post}}Edit{{/link-to}}
			<button {{action 'deletePost' post}}>Delete</button>
			<!--<p>{{post.description}}</p>-->
			<p>{{sinopsis}}</p>
		</li>
		{{/each}}
</ul>